Resources/templates/Glossaire_fra/glossaire_fra.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="glossaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="entrée"/>
      </xs:sequence>
      <xs:attribute name="src" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="entrée">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="terme"/>
        <xs:element ref="définition"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="terme" type="xs:string"/>
  <xs:element name="définition" type="xs:string"/>
</xs:schema>
